/*my framwork*/
body{
    overflow-x: hidden;
    font-family: sans-serif;
}
.container {
	padding: 1% 5%;
    height: 500px;
}
a{
	text-decoration: none;
    color: #000;
}
h1{
    color: #333333;
    font-size: 40px;
}
p{
    color: #333333;
    font-size: 14px;
}
i{
    margin-top: 17px;
    margin-left: 1%;/*ltr*/
    cursor: pointer;
}
.service-p,.service-title,.features,.line_shape2,.image_bg_shape,.Layer_4_copy,.dotted,.overlay,#read-more,.about-p,.about-title,.Experiance,.line_shape,.about-img,img,.about-img,.pic,#read-more-3,#read-more-2{
    position: absolute
}
.read-more{
    color: #fff;
    background-color: #3c01c8;
    border: none;
    border-radius: 20px;
    width: 8%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2%;
    font-size: 10px;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}

/** Style **/

/* Start Header Section Style */
.header-bg header{
    position: relative;
}
.header-bg{
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -1%;
}
.logo {
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 1%;
    display: inline-block;
}
.logo-pic {
    width: 25%;
    padding-left: 5%;/*ltr*/
    position: relative;
}
.navbar {
    display: flex;
	margin-top: -5%;
    margin-left: 14%;/*ltr*/
}
.nav-item {
	display: inline-block;
}
.nav-item li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;/*ltr*/
    font-size: 14px;
}
.slide{
    padding-left: 3%;/*ltr*/
    padding-top: 5%;
}
.pic{
    width: 600px;
    height: 450px;
    background-color: blue;
    display: block;
    border-radius: 25px;
    transform: rotate(-16deg);
    z-index: 2;
    right: -150px;/*ltr*/
    top: -41px;
}
.pic img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
.master {
	display: inline;
}
.master h4{
	display: inherit;
}
.play {
    padding: 10px;
    display: inline-block;
    border-radius: 25px;
    box-shadow: 0.5px 0.5px 7px 2px #e3e3e3;
    margin-left: 3%;/*ltr*/
}
.play i{
	margin: 0;
}
/* End Header Section Style */

/* Start About Section Style */
.about-img {
    border-width: 10px;
    border-color: rgb(249, 249, 249);
    border-style: solid;
    background-color: rgb(60, 1, 200);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    left: 175px;
    top: 662px;
    width: 448px;
    height: 632px;
    z-index: 645;
}
.about-img img{
    width: inherit;
    height: inherit;
}
.line_shape {
    background-color: rgb(60, 1, 200);
    left: 674px;
    top: 765.499px;
    width: 82px;
    height: 2px;
    z-index: 659;
}
.Experiance {
    font-size: 18px;
    color: rgb(60, 1, 200);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3.889;
    left: 764.844px;
    top: 700.499px;
    z-index: 658;
}
.about-title {
    font-size: 60px;
    color: #000;
    font-weight: bold;
    line-height: 1.167;
    left: 672.937px;
    top: 730.708px;
    z-index: 657;
}
.about-title span{
    color: rgb(60, 1, 200);
} 
.about-p {
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 1.733;
    left: 672.997px;
    top: 947.383px;
    width: 654px;
    height: 92px;
    z-index: 654;
}
#read-more {
    left: 674px;
    top: 1068px;
    width: 155px;
    height: 45px;
    z-index: 649;
}
.overlay {
    background-color: rgb(60, 1, 200);
    left: 0px;
    top: 1179px;
    width: 1920px;
    height: 634px;
    z-index: 610;
}
.choose_1-title {
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.333;
    text-align: left;
    position: absolute;
    left: 173.844px;
    top: 1371px;
    z-index: 639;
}
.choose_1-p {
    color: rgb(255, 255, 255);
    line-height: 1.857;
    text-align: left;
    position: absolute;
    left: 173.937px;
    top: 1500px;
    width: 367px;
    height: 62px;
    z-index: 638;
}
.choose1 .shape {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    left: 175px;
    top: 1600px;
    width: 38px;
    height: 38px;
    z-index: 634;
}
.choose1 .shape i{
    font-size: 20px;
    font-family: "FontAwesome";
    color: rgb(255, 255, 255);
    line-height: 1.3;
    text-align: left;
    position: absolute;
    left: 9.728px;
    top: -11px;
    z-index: 635;
}
.choose_2-title {
    font-size: 36px;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    text-align: left;
    position: absolute;
    left: 473.844px;
    top: 1371px;
    z-index: 629;
}
.choose_2-p {
    color: rgb(255, 255, 255);
    line-height: 1.857;
    text-align: left;
    position: absolute;
    left: 473.844px;
    top: 1500px;
    width: 364px;
    height: 66px;
    z-index: 618;
}
#read-more-2 {
    background-color: rgb(255, 255, 255);
    color: rgb(60, 1, 200);
    position: absolute;
    left: 473px;
    top: 1575px;
    width: 130px;
    height: 40px;
    z-index: 624;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.2;
    text-align: center;
}
.choose_3-title {
    font-size: 36px;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    text-align: left;
    position: absolute;
    left: 773.844px;
    top: 1371px;
    z-index: 619;
}
.choose_3-p {
    color: rgb(255, 255, 255);
    line-height: 1.857;
    text-align: left;
    position: absolute;
    left: 773.937px;
    top: 1500px;
    width: 364px;
    height: 66px;
    z-index: 618;
}
.choose3 .shape {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    left: 775px;
    top: 1600px;
    width: 38px;
    height: 38px;
    z-index: 634;
}
.choose3 .shape i{
    font-size: 20px;
    font-family: "FontAwesome";
    color: rgb(255, 255, 255);
    line-height: 1.3;
    text-align: left;
    position: absolute;
    left: 9.728px;
    top: -11px;
    z-index: 635;
}
/* End About Section Style */

/* Start Service Section */
.dotted {
    background-image: url(../img/dotted.png);
    left: 763px;
    top: 1900px;
    width: 302px;
    height: 330px;
    z-index: 583;
}
.Layer_4_copy {
    background-image: url(../img/Layer-4.png);
    left: 739px;
    top: 1883px;
    width: 360px;
    height: 357px;
    z-index: 586;
}
.image_bg_shape {
    border-width: 10px;
    border-color: rgb(240, 240, 240);
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(60, 1, 200);
    left: 790px;
    top: 1932px;
    width: 235px;
    height: 240px;
    z-index: 588;
}
.image_bg_shape img{
	width: inherit;
    height: inherit;
    border-radius: 36px;
}
.line_shape2 {
    background-color: rgb(60, 1, 200);
    left: 175px;
    top: 1950px;
    width: 82px;
    height: 2px;
    z-index: 602;
}
.features {
    font-size: 18px;
    color: rgb(60, 1, 200);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3.889;
    left: 262.844px;
    top: 1898px;
    z-index: 601;
}
.service-title {
    font-size: 60px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.167;
    left: 175px;
    top: 1920px;
    z-index: 600;
}
.service-p {
    color: rgb(51, 51, 51);
    line-height: 1.857;
    left: 175px;
    top: 2108px;
    z-index: 597;
}
#read-more-3 {
    left: 175px;
    top: 2212px;
    width: 130px;
    height: 40px;
    z-index: 624;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.2;
    text-align: center;
}
/* End Service Section */